<div class="form-box">
    <h1>Create Service</h1>
    <form>
        <div class="input-group">
            <div class="input-field">
                <i class="fa-solid fa-font"></i>
                <input type="text" placeholder="name">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-comment"></i>
                <input type="text" placeholder="description">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-money-bill"></i>
                <input type="text" placeholder="price">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-hourglass"></i>
                <input type="text" placeholder="duration">
            </div>
        </div>
        <div class="btn-field">
            <button type="button">Create</button>
        </div>
    </form>
</div>