<div class="card">
  <div class="card__title">
    <div class="icon">
      <a routerLink="/services/all"><i class="fa fa-arrow-left"></i></a>
    </div>
    <h3>Dental Connect</h3>
  </div>
  <div class="card__body">
    <div class="half">
      <div class="featured_text">
        <h1>{{service?.name }}</h1>
        <p class="sub">{{service?.owner?.username}}</p>
        <p class="price">${{service?.price}}</p>
      </div>
      <div class="image">
        <img src="{{service?.imgURL}}" alt="{{service?.name}}">
      </div>
    </div>
    <div class="half">
      <div class="description">
        <p>{{service?.description}}</p>
      </div>
      <span class="stock"><i class="fa-regular fa-clock"></i>Duration: {{service?.duration}}h</span>
      <div class="reviews">
        <span *ngFor="let person of service?.signed">{{person}}</span>
      </div>
    </div>
  </div>
  <div class="card__footer">
    <div class="recommend">
    </div>
    <div class="action">
      <button type="button" *ngIf="isDoctor && isOwner" [routerLink]="['/services/edit', service?._id]">Edit</button>
      <button type="button" *ngIf="isDoctor  && isOwner" (click)="delete()">Delete</button>
      <button type="button" *ngIf="isUser">Buy</button>
    </div>
  </div>
</div>