<div class="card">
  <div class="card__title">
    <div class="icon">
      <a href="#"><i class="fa fa-arrow-left"></i></a>
    </div>
    <h3>Dental Connect</h3>
  </div>
  <div class="card__body">
    <div class="half">
      <div class="featured_text">
        <h1>Nurton</h1>
        <p class="sub">Office Chair</p>
        <p class="price">$210.00</p>
      </div>
      <div class="image">
        <img src="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2021/4/shutterstock_56198956.jpg" alt="">
      </div>
    </div>
    <div class="half">
      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
      </div>
      <span class="stock"><i class="fa-regular fa-clock"></i>Duration: 2h</span>
      <div class="reviews">
        <span>(List of names purchesed)</span>
      </div>
    </div>
  </div>
  <div class="card__footer">
    <div class="recommend">
    </div>
    <div class="action">
      <button type="button">Edit</button>
      <button type="button">Delete</button>
      <button type="button">Buy</button>
    </div>
  </div>
</div>