<div class="card-container">
	<img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
	<h3>Dr.Ricky Park</h3>
	<h6>Orthodont</h6>
	<div class="patients">
		<h6>Patients</h6>
		<ul>
			<li>Ivan</li>
			<li>Miroslav</li>
			<li>Kaloyan</li>
			<li>Asen</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li>
		</ul>
	</div>
</div>

<div class="container-services">
    <h2 class="heading">Services</h2>
    <div class="box-container">
        <div class="box">
            <img src="https://mustafaalperkul.com/en/assets/img/9b21d4474be0108de485af7e65960cgi.png">
            <h3>Teeth Stone Cleaning</h3>
            <p>Tartars and plaques on the tooth surface are cleaned with the use of various tools during tartar
                cleaning.</p>
            <a href="" class="btn">Read More</a>
        </div>
        <div class="box">
            <img src="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2021/4/shutterstock_56198956.jpg">
            <h3>Teeth whitening</h3>
            <p>Laser whitening, also known as power whitening, is another type of teeth whitening system that a
                dentist can provide.</p>
            <a href="" class="btn">Read More</a>
        </div>
        
    </div>

</div>