<div class="card-container">
    <img class="round" *ngIf="isDoctor" src="assets/img/doctor img.png" alt="user" />
    <img class="round" *ngIf="isUser" src="assets/img/user img.png" alt="user" />
    <h3 *ngIf="isDoctor">Dr.{{user?.username}}</h3>
    <h6 *ngIf="isDoctor">{{proficiency}}</h6>
    <h6 *ngIf="isUser">{{user?.username}}</h6>
    <div *ngIf="isDoctor" class="patients">
        <h6>Patients</h6>
        <ul *ngFor="let patient of patients">
            <li>{{patient.username}}</li>
        </ul>
    </div>
</div>

<div class="container-services">
    <app-all-services [showHeading]="false" [services]="services" />
</div>