<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="flex">
                <h2>About Us</h2>
                <p>Dental Connect is your go-to platform for dental care solutions. Whether you're a dentist looking to showcase
                    your services or a patient seeking quality dental care, we've got you covered. Dentists can easily add and
                    manage their services, while patients can browse, and schedule appointments with just a few clicks.
                    Experience seamless dental care connections with Dental Connect!</p>
                <a routerLink="/services/all" class="btn">Services</a>
            </div>
            <div class="flex">
                <img src="assets/img/Detntal Connect About Img.png" alt="img">
            </div>
        </div>
    </div>
</div>