@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container-service {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 50px;
}

.container-service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container-service .box-container .box {
    border-radius: 5px;
    background: #081c29;
    text-align: center;
    padding: 30px 20px;
    filter: drop-shadow(0 0 25px white);
}

.container-service .box-container .box img {
    height: 80px;
}

.container-service .box-container .box h3 {
    color: #ffffff;
    font-size: 22px;
    padding: 10px 0;
    filter: drop-shadow(0 0 25px white);
}

.container-service .box-container .box p {
    color: #01abf0;
    font-size: 15px;
    line-height: 1.8;
}

.container-service .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    color: #081c29;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container-service .box-container .box .btn:hover {
    letter-spacing: 1px;

}

.container-service .box-container .box .btn:hover {
    box-shadow: 0 10px 15px rgb(255, 255, 255);
    transform: scale(1.03);    
}

@media (max-width:768px){
    .container{
        padding: 20px;
    }
}

