<div class="container-service">
    <h1 *ngIf="showHeading" class="heading">Services</h1>
    <h1 *ngIf="showSubscribtions" class="heading">Subscribtions</h1>
    <h1 *ngIf="showYourServices" class="heading">Your Services</h1>

    <div class="box-container">
        <div class="box" *ngFor="let service of services">
            <img src="{{service.imgURL}}">
            <h3>{{service.name}}</h3>
            <p>{{ (service.description.length > 50) ? (service.description | slice:0:20) + '...' :
                (service.description)}}
            </p>
            <a [routerLink]="['/services/details', service._id]" class="btn">Read More</a>
        </div>
    </div>
</div>